#Mon, 22 Apr 2013 13:18:20 +0100
app.name=well

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=59793e6a-d349-4967-8f66-7385df68e929
