<!DOCTYPE html> 
<html><head> 

<%
var pages = {
  welcome:  {title:'Welcome'},
  why:      {title:'Why'},
  you:      {title:'You'},
  settings: {title:'Settings'},
  leaders:  {title:'Leaders'},
  team:     {title:'Team'},
  well:     {title:'Well'},
}
%>



<title>Well!</title> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="css/jquery.mobile.structure-1.1.1.min.css" />
<link rel="stylesheet" href="css/jquery.mobile.theme-1.1.1.min.css" />
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/jquery.mobile-1.1.1.min.js"></script>

</head><body> 



<% function page_header( name ) { var page = pages[name] %>
<div data-role="header" data-id="header"  data-position="fixed">
<h1><%=page.title%></h1>
<a href="#page_<%=name%>" data-icon="check" class="ui-btn-right">Well!</a>
</div>
<% } %>


<div id="page_welcome" data-add-back-btn="true" data-role="page" data-id="header1">
<% page_header('welcome') %>

<div data-role="content">

<a href="/auth/twitter?prefix=main-<%=name%>" rel="external" data-role="button" data-icon="check" >Twitter</a>

<a href="#page_why">why</a><br>
<a href="#page_you">you</a><br>
<a href="#page_settings">settings</a><br>
<a href="#page_leaders">leaders</a><br>
<a href="#page_team">team</a><br>
<a href="#page_well">well</a><br>
</div>

</div>



<div id="page_why" data-add-back-btn="true" data-role="page" data-id="header1">
<% page_header('why') %>

<div data-role="content">
<p>why</p>
</div>

</div>



<div id="page_you" data-add-back-btn="true" data-role="page" data-id="header1">
<% page_header('you') %>

<div data-role="content">
<p>you</p>
</div>

</div>



<div id="page_settings" data-add-back-btn="true" data-role="page" data-id="header1">
<% page_header('settings') %>

<div data-role="content">
<p>settings</p>
</div>

</div>



<div id="page_leaders" data-add-back-btn="true" data-role="page" data-id="header1">
<% page_header('leaders') %>

<div data-role="content">
<p>leaders</p>
</div>

</div>



<div id="page_team" data-add-back-btn="true" data-role="page" data-id="header1">
<% page_header('team') %>

<div data-role="content">
<p>team</p>
</div>

</div>



<div id="page_well" data-add-back-btn="true" data-role="page" data-id="header1">
<% page_header('well') %>

<div data-role="content">
<p>well</p>
</div>

</div>




</body>
</html>



